*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
$background-color:rgba(104, 166, 207, 0.699);

.date-container{
    margin:30px;
    padding:35px;
    background:$background-color;
    color:white;
    font-weight:bold;
    width:100px;
    height:90px; 
}
.date-container-active{
    margin:30px;
    padding:35px;
    background:rgb(235, 118, 118);
    color:white;
    font-weight:bold;
    width:100px;
    height:90px; 
}

